:root {
  --main-color: #D3564A;
  --second-color: #98A4A5;
  --third-color: #509BD7;
  --fourth-color: black;
  --fifth-color: white;
  --sixth-color: rgba(192, 192, 192, 0.8);
  --seventh-color: gray;
}