:root {
  --main-color: #D3564A;
  --second-color: #98A4A5;
  --third-color: #509BD7;
  --fourth-color: black;
  --fifth-color: white;
  --sixth-color: rgba(197, 196, 196, 0.8);
  --seventh-color: gray;
  --eighth-color: #447DB4;
  --ninth-color: #386996;
  --tenth-color: #E5AB5A;
  --eleventh-color: #c28c40;
  --copy-right: rgb(70, 67, 67);
}